@model IEnumerable<sciwebsitewordcounter.Models.WordCount>
@{
        ViewData["Title"] = "Home Page";
    }
<h1 class="display-4">Enter Url Below eg https://google.com</h1>
<form method = "POST" >
    <div class="form-group">
        URL:<br />
        <input name ="getformurl" type="text" id="getformurl" class="form-control form-control-lg" /><br />
        <input type = "submit" value="Submit" class="btn btn-primary form-control form-control-lg" />
    </div>
</form>
