@using sciwebsitewordcounter.Models
@model IEnumerable<sciwebsitewordcounter.Models.WordCount>
@{
    ViewBag.Title = "Word Count";
}
<table class="table table-dark">
    <tr>
        <th>Key</th>
        <th>Count</th>
    </tr>
    @foreach (var d in (IEnumerable<WordCount>)TempData["wordcountdata"])
    {
        <tr>
            <td style ="font-size:@d.SiteCount">@d.SiteKey</td>
            <td style ="font-size:@d.SiteCount">@d.SiteCount</td>
        </tr>
    }
</table>
